@use '../base' as *;

/* -------------------------------- 

File#: _1_toast
Title: Toast
Descr: Notification message
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --toast-width: 400px;
  --toast-gap: var(--space-xs);
  --toast-transition-duration: .3s;
}

/* element created in JS - used to wrap toasts with same position (e.g., top-right) */
.toast-wrapper {
  width: var(--toast-width);
  max-width: 80%;
  padding: var(--space-sm);
  z-index: var(--z-index-fixed-element);
  pointer-events: none;
}

.toast {
  background-color: alpha(var(--color-contrast-higher), 0.98);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-md);
  padding: var(--space-sm);

  color: var(--color-bg);
  @include fontSmooth;

  position: fixed;
  pointer-events: auto;

  will-change: transform;
  transition: opacity var(--toast-transition-duration), visibility 0s, transform var(--toast-transition-duration) var(--ease-out);
}

.toast--hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity var(--toast-transition-duration), visibility 0s var(--toast-transition-duration), transform var(--toast-transition-duration) var(--ease-out);
}

.toast--top-right, 
.toast--top-center,
.toast--top-left {
  margin-bottom: var(--toast-gap);
}

.toast--bottom-right, 
.toast--bottom-center,
.toast--bottom-left {
  margin-top: var(--toast-gap);
}

.toast__title, .toast__p {
  color: var(--color-bg);
}

.toast__p {
  opacity: 0.6;
}

.toast__close-btn {
  --size: 24px;
  width: var(--size);
  height: var(--size);

  display: flex;
  background-color: alpha(var(--color-bg), 0.15);
  border-radius: 50%;

  flex-shrink: 0;

  transition: background .2s;

  .icon {
    --size: 12px;
    margin: auto;
    color: var(--color-bg);
  }

  &:hover {
    background-color: alpha(var(--color-bg), 0.1);
  }
}

.toast__icon-wrapper {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;

  .icon {
    --size: 16px;
    margin: auto;
  }
}

.toast__icon-wrapper--warning {
  background-color: alpha(var(--color-warning), 0.2);

  .icon {
    color: var(--color-warning);
  }
}

.toast__icon-wrapper--success {
  background-color: alpha(var(--color-success), 0.2);

  .icon {
    color: var(--color-success);
  }
}