@use '../base' as *;
@use '_1_modal-window.scss' as *;

/* -------------------------------- 

File#: _2_full-screen-select
Title: Full Screen Select
Descr: A full-screen window w/ a list of options
Usage: codyhouse.co/license

-------------------------------- */

.full-screen__select {}

.full-screen-select__option {
  display: block;

  font-size: var(--text-lg);
  
  color: var(--color-contrast-high);
  padding: var(--space-xxxs) var(--space-sm);
  border-radius: var(--radius-md);

  transition: .2s;

  &:hover:not(.full-screen-select__option--selected) {
    background-color: alpha(var(--color-contrast-higher), 0.075);
  }
}
 
.full-screen-select__option--selected {
  color: var(--color-white);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
  @include fontSmooth;
}